<div class="wrapper">
  <div class="container text-center">
    <h1>Restaurants</h1>
    <%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-success" %>

    <ul class="list-unstyled">
      <% @restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end %>
    </ul>
  </div>
</div>



