<div class="wrapper">
  <div class="container text-center">
    <h3>New Restaurant</h3>
    <%= render 'form' %>
    <%= link_to "Back to All Restaurants", restaurants_path, class: "btn btn-danger" %>
  </div>
</div>
